@import "src/styles/index";

.add-quote-block {
  margin-top: 20px;
  width: 60%;
  min-width: 500px;
}

.author-detail {
  display: flex;

  div {
    margin-right: 20px;
  }
}

.quote-buttons-row {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0 30px 0;
}

.add-quote-button {
  min-width: 170px;
  width: 15%;
  margin-right: 15px;
}
