@import "src/styles/index";

.upper-header-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 35px;
  width: 100%;
  background-color: $secondary-variant-color;
}

.upper-header--rounded-block {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
  min-width: 180px;
  max-width: 200px;
  padding: 3px;
  font-size: 12px;
  font-weight: 500;
  background-color: $background-primary-color;
  border-radius: 20px;

  label {
    width: calc(100% - 80px);
    margin: 0px 5px;
  }
}

.search-block {
  margin-right: 20px;

  input {
    width: calc(100% - 55px);
    margin: 0 10px;
    font-size: 14px;
    border: none;
    outline: none;
  }

  input::placeholder {
    font-size: 12px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: $success-color;
    outline: none;
    border: none;
    border-radius: 50%;

    img {
      height: 16px;
    }
  }
}

.user-dp {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.user-settings {
  border: none;
  outline: none;
}

.user-settings-option {
  display: flex;

  img {
    height: 14px;
    margin-right: 10px;
  }
}
