@import "src/styles/index";

.upper-header-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
  width: 100%;
  background-color: $secondary-variant-color;
}

.search-block {
  height: 100%;
  width: 20%;
  min-width: 170px;
  background-color: white;
  border-radius: 20px;
}
