@import 'src/styles/index';

.settings-buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px 0;
}

.settings-button {
  max-width: 185px;
  margin-right: 10px;
  padding: 12px 40px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
  background-color: $secondary-variant-color;
  border-radius: 25px;
  cursor: pointer;
}

// .settings-button:active,
// .settings-button:hover {
//   background: #4590e4;
// }

.active-menu {
  color: #ffffff;
  background-color: #4590e4;
}

.settings-common-area {
  margin-top: 20px;
}
