@import "src/styles/index";

.dashboard {
  display: flex;
  height: 100vh;
}

.dashboard * {
  box-sizing: border-box;
}

.dashboard--left-part {
  width: 15%;
  min-width: 180px;
  background-color: $primary-color;
}

.dashboard--right-part {
  width: 85%;
}

.dashboard--upperHeader {
  display: flex;
  height: 60px;
  width: 100%;
}

.common-area {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 10px 30px;
  overflow-y: auto;
}
