@import 'src/styles/index';
@import './node_modules/bootstrap/scss/bootstrap';

.subscribed-buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px 0;
}

.action-buttons {
  display: flex;
  align-items: center;
  button {
    height: 40px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
  }
  .success-button {
    margin-right: 20px;
  }
}

.mt-40 {
  margin-top: 40px !important;
}

.admin-title {
  margin-bottom: 5px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  color: $placeholder-color;
}

.admin-table {
  width: 100%;
  font-size: 14px;
  font-weight: 500;

  select {
    min-width: 100%;
    padding: 2px 10px;
    border: none;
    outline: none;
  }

  img {
    height: 30px;
    max-height: 30px;
  }

  .row-container {
    max-height: calc(100vh - 380px);
    overflow-y: auto;
  }

  .tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: $secondary-variant-color;
    border-radius: 5px;
  }

  .admin-table-details {
    display: flex;
    align-items: center;
    width: calc(100% - 70px);
  }

  .admin-table-details {
    .td:nth-child(1),
    .td:nth-child(2),
    .td:nth-child(3)
    .td:nth-child(4)
    .td:nth-child(5) {
      width: 20%;
    }
  }

  .action-cell {
    width: 80px;

    img {
      cursor: pointer;
    }
  }

  .td:not(:nth-child(2)) {
    padding-right: 20px;
  }

  .td:not(:nth-child(5)) {
    padding-right: 20px;
  }

  .heading {
    margin-bottom: 5px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 700;
    background-color: white;
  }

  .name {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
      min-height: 40px;
      min-width: 40px;
      margin-right: 10px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.sub-button {
  max-width: 185px;
  margin-right: 10px;
  padding: 12px 40px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
  background-color: $secondary-variant-color;
  border-radius: 25px;
  cursor: pointer;
}

.active-menu {
  color: #ffffff;
  background-color: #07084b;
}

.sub-common-area {
  margin-top: 20px;
}
