@import "src/styles/index";

.dashboard-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #212163;

  img {
    width: 80%;
  }
}

.menu {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.menu-item {
  display: flex;
  align-items: center;
  height: 40px;

  img {
    height: 15px;
  }

  span {
   margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #696B9D;
  }
}
